---
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import { SITE, HISTORY } from "@consts";

const lightThemeSrc = `${SITE.EXTERNAL_LINK}/history?theme=light`;
const darkThemeSrc = `${SITE.EXTERNAL_LINK}/history?theme=dark`;

---

<PageLayout title={HISTORY.TITLE} description={HISTORY.DESCRIPTION}>
    <Container>
      <h1 class="animate font-semibold text-black dark:text-white">
        Playout History
      </h1>
      <br>
      <br>
      <p class="animate">
        <!-- LIGHT MODE -->
        <iframe class="dark:hidden" src={lightThemeSrc} allowtransparency="true" style="width: 100%; min-height: 850px"></iframe>
        <!-- DARK MODE -->
        <iframe class="hidden dark:block" src={darkThemeSrc} allowtransparency="true" style="width: 100%; min-height: 850px; color-scheme: light;"></iframe>
      </p>
    </Container>
</PageLayout>
