---
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import Link from "@components/Link.astro";
import { SITE, SCHEDULE } from "@consts";

const lightThemeSrc = `${SITE.EXTERNAL_LINK}/embed-requests?theme=light`;
const darkThemeSrc = `${SITE.EXTERNAL_LINK}/embed-requests?theme=dark`;

---

<PageLayout title={SCHEDULE.TITLE} description={SCHEDULE.DESCRIPTION}>
    <Container>
      <h4 class="animate font-semibold text-black dark:text-white underline">
        Requests
      </h4>
      <br>
      <br>
      <p class="animate">
        <div>
          <!-- LIGHT MODE -->
          <iframe class="dark:hidden" src={lightThemeSrc} allowtransparency="true" style="width: 100%; min-height: 925px; border: 0;"></iframe>
          <!-- DARK MODE -->
          <iframe class="hidden dark:block" src={darkThemeSrc} allowtransparency="true" style="width: 100%; min-height: 925px; border: 0; color-scheme: light;"></iframe>
        </div>
      </p>
    </Container>
</PageLayout>