---
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import Link from "@components/Link.astro";
import { EXTERNAL_LINK, SCHEDULE } from "@consts";

const lightThemeSrc = `${EXTERNAL_LINK.DESCRIPTION}/schedule/embed?theme=light`;
const darkThemeSrc = `${EXTERNAL_LINK.DESCRIPTION}/schedule/embed?theme=dark`;
---

<PageLayout title={SCHEDULE.TITLE} description={SCHEDULE.DESCRIPTION}>
    <Container>
      <h4 class="animate font-semibold text-black dark:text-white">
        Schedule
      </h4>
      <br>
      <p class="animate">
        Our schedule fluxuates a lot. But this is the spot to go to for all of our updated information about our shows! If the one below isn't displaying right, click <Link href='https://live.thackerbroadcasting.com/public/98.9_the_elk/schedule'>here</Link>.
      </p>
      <br>
      <p class="animate">
        <div>
          <!-- LIGHT MODE -->
          <iframe class="dark:hidden" src={lightThemeSrc} allowtransparency="true" style="width: 100%; min-height: 1210px; border: 0;"></iframe>
          <!-- DARK MODE -->
          <iframe class="hidden dark:block" src={darkThemeSrc} allowtransparency="true" style="width: 100%; min-height: 1210px; border: 0; color-scheme: light;"></iframe>
        </div>
      </p>
    </Container>
</PageLayout>
